@model IEnumerable<Gp_3.Models.Category>

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Categories</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">




</head>
<body>
    <div class="card">
        <div class="card-header border-transparent">
            <a asp-controller="Admin" asp-action="Index" class="title"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-sm btn-secondary float-right" data-toggle="modal" data-target="#myModal">Add New Category</button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="display:inline;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4>Category Details</h4>
                        </div>
                        <!-- Add category Form Begining -->
                        <form method="post" asp-controller="Category" asp-action="AddCategory">
                            <!-- Modal Body start -->
                            <div class="modal-body">
                                <div class="mb10">
                                    <label class="control-label">Category Name:</label>
                                    <input name="Title" type="text" class="form-control" />
                                </div>
                                <br />
                            </div>
                            <!-- Modal Body End-->
                            <!-- Modal Footer start-->
                            <div class="modal-footer">
                                <div class="btn-group">
                                    <input name="Title" type="submit" class="btn btn-info" value="Submit"/>
                                </div>
                            </div>
                            <!-- Modal Footer End-->
                        </form>
                        <!-- Add category Form End -->
                    </div>

                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table m-0">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CategoryID)</th>
                            <th>@Html.DisplayNameFor(model => model.Title)</th>
                            <th>Update</th>
                            <th>Delete</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <!-- Category ID -->
                                <td><span class="CatID">@Html.DisplayFor(modelItem => item.CategoryID)</span></td>
                                <!-- Category Title -->
                                <td><span class="cat_name">@Html.DisplayFor(modelItem => item.Title) </span></td>
                                <!-- Row for midification buttons -->
                                <td>
                                    <button type="button" class="btn btn-sm btn-info update_btn">Update</button>
                                </td>
                                <td>
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CategoryID" onclick="return confirm('Are you sure that you want to delete this element?')">Delete</a> 
                                 </td>

                                <td>
                                    <div class="btn-group">
                                        <div class="dropdown-divider"></div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="container">
                    <div class="modal fade" id="EditModal" role="dialog">
                        <div class="modal-dialog">
                            <form method="POST" asp-controller="Category" asp-action="Edit">
                                <!-- Modal Content Start-->
                                <div class="modal-content">
                                    <!--Modal Header Start-->
                                    <div class="modal-header" style="display:inline;">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4>Category Details</h4>
                                    </div>
                                    <!-- Modal Header End-->
                                    <!-- Modal Body Start-->
                                    <div class="modal-body">
                                            <label class="control-label">Category Name:</label>
                                            <input type="text" class="form-control" id="modal_cat_name" name="Title" />
                                            <input type="hidden" class="form-control" id="modal_cat_id" name="CategoryID" hidden />
                                    </div>
                                    <!-- Modal Body End-->
                                    <!-- Modal Footer Start-->
                                    <div class="modal-footer">
                                        <div class="btn-group">
                                            <button type="submit" class="btn btn-info">Submit</button>
                                        </div>
                                    </div>
                                    <!-- Modal Body End-->
                                </div>
                            </form>    <!-- Modal Content End-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.table-responsive -->
        </div>
    </div>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="~/dist/js/demo.js"></script>

    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="~/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
    <script src="~/plugins/raphael/raphael.min.js"></script>
    <script src="~/plugins/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="~/plugins/jquery-mapael/maps/usa_states.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>

    <!-- PAGE SCRIPTS -->
    <script src="~/dist/js/pages/dashboard2.js"></script>
    <script>
        $(".update_btn").click(function () {
            var cat_name = $(this).closest('tr').find('.cat_name').text();
            var cat_id = $(this).closest('tr').find('.CatID').text();
            $("#modal_cat_name").val(cat_name);
            $("#modal_cat_id").val(cat_id);
            $("#EditModal").modal('show');
        });
    </script>
</body>
</html>